{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}围棋信息发布中心{% endblock %}

{% block page_content %}

<div class="left col-sm-6">
    <h3>&nbsp;<br></h3>
    <h3>围棋知识&nbsp;<span class="label label-default">New</span></h3>
    <hr>
    <a href="#" class="list-group-item">几岁学围棋最好？</a>
    <a href="#" class="list-group-item">围棋的谚语集</a>
    <a href="#" class="list-group-item">围棋基本知识口诀</a>
    <a href="#" class="list-group-item">中国围棋业余段位制</a>
    <a href="#" class="list-group-item">围棋入门级知识要点问答</a>
    <a href="#" class="list-group-item">围棋里的专业术语</a>
    <a href="#" class="list-group-item">漫谈围棋</a>
</div>

<div class="right col-sm-6">
    <h3>&nbsp;<br></h3>
    <h3>学棋百问&nbsp;<span class="label label-default">New</span></h3>
    <hr>
    <a href="#" class="list-group-item">棋力快速增长的技巧</a>
    <a href="#" class="list-group-item">家长如何指导孩子下棋</a>
    <a href="#" class="list-group-item">怎样提高少儿比赛的心理素质</a>
    <a href="#" class="list-group-item">孩子学习围棋中遇到困惑</a>
</div>

{% endblock %}