{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}围棋信息发布中心{% endblock %}

{% block page_content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="carousel slide" id="carousel-523249">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-523249">
					</li>
					<li data-slide-to="1" data-target="#carousel-523249">
					</li>
					<li data-slide-to="2" data-target="#carousel-523249">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img style="width: 1600px;height: 500px" alt="" src="{{ url_for('static', filename='images/gudaiweiqi.jpg') }}" />
						<div class="carousel-caption">
							<h4>
								起源
							</h4>
							<p>
								围棋，起源于中国，中国古代称为“弈”，可以说是棋类之鼻祖，围棋至今已有4000多年的历史。
							</p>
						</div>
					</div>
					<div class="item">
						<img style="width: 1600px;height: 500px" alt="" src="{{ url_for('static', filename='images/qiju2.jpg') }}" />
						<div class="carousel-caption">
							<h4>
								棋具
							</h4>
							<p>
								棋子分黑白两色。多为扁圆形（也有双面突起的应氏棋子）。棋子的数量以黑白子各180个为宜。棋子呈圆形。中国一般使用一面平、一面凸的棋子，日本则常用两面凸的棋子。
							</p>
						</div>
					</div>
					<div class="item">
						<img style="width: 1600px;height: 500px" alt="" src="{{ url_for('static', filename='images/touxian.jpg') }}" />
						<div class="carousel-caption">
							<h4>
								头衔
							</h4>
							<p>
								中国的头衔战现有天元、名人和新人王。以前还举办过棋王和棋圣。其他几项比赛，冠军没有特殊的荣誉称呼，也就是没有头衔。
							</p>
						</div>
					</div>
				</div> <a data-slide="prev" href="#carousel-523249" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-523249" class="right carousel-control">›</a>
			</div>
		</div>
	</div>
</div>


<div class="left col-sm-6" style="padding-bottom:200px">
    <h3>&nbsp;<br></h3>
    <h3>围棋知识&nbsp;<span class="label label-default">New</span></h3>
    <hr>
    {% for zhishi in zhishis %}
    <a href="{{ url_for('baike.baike_show', baikeid=zhishi.id) }}" class="list-group-item">{{ zhishi.title }}</a>
    {% endfor %}
</div>

<div class="right col-sm-6" style="padding-bottom:200px">
    <h3>&nbsp;<br></h3>
    <h3>学棋百问&nbsp;<span class="label label-default">New</span></h3>
    <hr>
    {% for baiwen in baiwens %}
    <a href="{{ url_for('baike.baike_show', baikeid=baiwen.id) }}" class="list-group-item">{{ baiwen.title }}</a>
    {% endfor %}
</div>

{% endblock %}