{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}围棋信息发布中心{% endblock %}
{% block head %}
    {{ super() }}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='http://puertokhalid.com/up/demos/puerto-Mega_Menu/css/normalize.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen" type="text/css" />
    <style>
    .duohang{width:200px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 14px}
    </style>
{% endblock %}


{% block page_content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-3">
                    <div class="containered">
        <nav>
            <ul class="mcd-menu">
                <li>
                    <a href="">
                        <i class="fa fa-home"></i>
                        <strong>新闻棋谱</strong>
                        <small></small>
                    </a>
                </li>
                <li>
                    <a href="" class="active">
                        <i class="fa fa-bullhorn"></i>
                        <strong>网站公告</strong>
                        <small>升级维护</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-calendar"></i>
                        <strong>围棋日历</strong>
                        <small>围棋赛事日程</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-globe"></i>
                        <strong>围棋新闻</strong>
                        <small>各大赛事</small>
                    </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-trophy"></i>世界大赛</a></li>
                        <li><a href="#"><i class="fa fa-trophy"></i>中国赛事</a></li>
                        <li><a href="#"><i class="fa fa-trophy"></i>韩国赛事</a></li>
                        <li><a href="#"><i class="fa fa-trophy"></i>综合报道</a></li>
                        <li><a href="#"><i class="fa fa-trophy"></i>业余赛事</a></li>
                        <li><a href="#"><i class="fa fa-trophy"></i>日本棋战</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-comments-o"></i>
                        <strong>网站论坛</strong>
                        <small>比赛讨论</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-flag"></i>
                        <strong>围棋棋谱</strong>
                        <small>比赛复盘</small>
                    </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-flag-checkered"></i>世界大赛</a></li>
                        <li><a href="#"><i class="fa fa-flag-checkered"></i>中国赛事</a></li>
                        <li><a href="#"><i class="fa fa-flag-checkered"></i>韩国赛事</a></li>
                        <li><a href="#"><i class="fa fa-flag-checkered"></i>综合报道</a></li>
                        <li><a href="#"><i class="fa fa-flag-checkered"></i>业余赛事</a></li>
                        <li><a href="#"><i class="fa fa-flag-checkered"></i>日本棋战</a></li>
                        <li><a href="#"><i class="fa fa-flag-checkered"></i>女子比赛</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-institution"></i>
                        <strong>围棋资料库</strong>
                        <small>棋手资料</small>
                    </a>
                </li>
                {#			<li class="float">#}
                {#				<a class="search">#}
                {#					<input type="text" value="search ...">#}
                {#					<button><i class="fa fa-search"></i></button>#}
                {#				</a>#}
                {#				<a href="" class="search-mobile">#}
                {#					<i class="fa fa-search"></i>#}
                {#				</a>#}
                {#			</li>#}
            </ul>
        </nav>
    </div>
    <div style="text-align:center;clear:both"></div>
            </div>
            <div class="col-lg-9">
                <ul class="thumbnails">
                    {% for new in news %}
                    <li class="col-sm-4">
                        <div class="thumbnail">
                            <img alt="300x200" style="width: 300px;height:130px" src="{{ url_for('static',filename='upload/'+new.imagefile) }}" />
                            <div class="caption">
                                <h3>
                                    {{ new.title }}
                                </h3>
                                <div class="duohang">
                                    {{ new.content }}
                                </div>
                                <p>
                                    <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}