{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}围棋信息发布中心{% endblock %}
{% block head %}
    {{ super() }}
    <link href="http://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">
    <!-- If you'd like to support IE8 -->
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
{% endblock %}

{% block page_content %}
    <video id="my-video" class="video-js" controls preload="auto" width="240" height="240"
     poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
    <source src="MY_VIDEO.mp4" type='video/mp4'>
    <source src="MY_VIDEO.webm" type='video/webm'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
{% endblock %}